body
{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-size: x-large;
}

#form{
    margin: auto;
    width: 500px;
    text-align: center;
    justify-content: center;
    background-color: lightgreen;
}
.div{
    padding: 20px;
    display: flex;
    flex-direction: column;
   
}
.style{
    padding: 10px;
}

#submit{
    padding: 10px;
    width: 150px;
    background-color: green;
    color: aliceblue;
    cursor: pointer;
}
#submit:hover{
    background-color: rgb(94, 130, 94);
}