body
{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-size: x-large;
}
.redtext{
    color: red;
}
.redborder{
    border: 1px solid red;
    border-radius: 3px;
}

#form{
    margin: auto;
    width: 500px;
    text-align: center;
    justify-content: center;
    background-color: lightgreen;
    border-radius: 10px;
}
.div{
    padding: 20px;
    display: flex;
    flex-direction: column;
   
}
.style{
    padding: 10px;
}

#submit{
    padding: 10px;
    width: 150px;
    cursor: pointer;
}
